appdirs==1.4.3
args==0.1.0
clint==0.5.1
packaging==20.0
pyparsing==2.4.6
six==1.13.0
octue>=0.1.15
click==7.1.2

# ----------- Install the current app (as editable, so you can develop on it) ------------------------------------------

--editable .


# ----------- Some common libraries  -----------------------------------------------------------------------------------

# A numerical manipulation library
numpy

# XFOIL Python module by DARcorporavgfoiltion, uses Fortran library directly though api.
# xfoil==1.1.1 #Version 1.1.1 has a bug in setting mach number, add MINf1 = M
             # after line 204 in src/api.f90!
# VG-Foil Python - Modified version of xfoil-python, includes IWES modifications for vortex generators
# https://github.com/time-trader/vgfoil-python
# vgfoil


# A powerful database api library. Supply it with your db's uri (through environment variables - don't commit URIs to git!!!!) and read/add data to/from databases.
# Note that results of analyses using externally managed databases as data sources cannot be guaranteed to be idempotent.
#SQLAlchemy==1.0.12
#SQLAlchemy-Utils==0.31.6


# ----------- Octue internal use only. Do not uncomment. ---------------------------------------------------------------

# --editable ../octue-sdk-python
