# Testing
# ------------------------------------------------------------------------------
coverage

# ----------- Install the current app (as editable, so you can develop on it) ------------------------------------------

--editable .


# ----------- Some common libraries  -----------------------------------------------------------------------------------

# XFOIL Python module by DARcorporavgfoiltion, uses Fortran library directly though api.
# xfoil==1.1.1 #Version 1.1.1 has a bug in setting mach number, add MINf1 = M
             # after line 204 in src/api.f90!

# VG-Foil Python - Modified version of xfoil-python, includes IWES modifications for vortex generators
# https://github.com/time-trader/vgfoil-python
# vgfoil
